* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(96, 96, 96);
}

.container {
    overflow: hidden;
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
}

/* -------------------------------- Header ------------------------- */
.header {
    text-align: center;
    color: white;
    font-size: 1.75rem;
    padding-top: 10px;
    padding-bottom: 50px;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.header p {
    font-size: 0.75em;
    margin-block: 0;
}

/* -------------------------------- HangMan Box ------------------------- */
.hangman-box {
    width: 100%;
    position: relative;
}

.hang-pole {
    fill: transparent;
    stroke: white;
    stroke-width: 6px;
}

.man {
    position: absolute;
    visibility: hidden;
}

/* -------------------------------- Word Section ------------------------- */

.searched-word {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.letter {
    margin: 4px;
    padding: 4px;
    font-size: 1.6em;
    font-weight: 600;
    color: white;
    border-bottom: 4px solid white;
    min-width: 20px;
    text-transform: uppercase;
}

.wrong-letters {
    margin-block: 8px;
    color: white;
    position: absolute;
    top: 20px;
    right: 50px;
}

.wrong-letters p {
    margin-top: 6px;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
}


/* -------------------------------- Popup ------------------------- */

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.2);
    background-color: gray;
    padding: 16px;
    margin: 2px;
    border: 2px solid rgb(93, 93, 93);
    border-radius: 8px;
    visibility: hidden;
    text-align: center;
}

.popup button {
    background-color: rgb(23, 168, 7);
    margin-top: 14px;
    padding: 10px;
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}

.popup button:hover {
    background-color: rgba(14, 141, 0, 0.8);
}

.popup p {
    margin-block: 4px;
}

.popup-warning {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: rgb(61, 61, 61);
    padding: 24px;
    text-align: center;
    border-radius: 8px;
    color: white;
    visibility: hidden;
}

/* -------------------------------- KeyBoard ------------------------- */

.keyboard {
    margin-top: 32px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    color: white;
    background-color: black;
    border-radius: 8px;
    flex-wrap: wrap;
}

.key {
    border: 2px solid rgb(255, 255, 255);
    border-radius: 1px;
    padding: 3px;
    margin: 6px;
    font-size: 28px;
    min-width: 42px;
    min-height: 42px;
    text-align: center;
    cursor: pointer;
}